/* == BODY RESET == */

body {
    color: whitesmoke;
    font-family: 'Francois One', sans-serif;
}

.home-img {
    background-image: url(../Pictures/Home_images/background-1655931_1920.jpg);
    background-size: cover;
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media all and (max-width: 1100px) {
    body{
        background-color: black;
    }
}