
/* iPhone X Remove Gutters
Ignore W3C Validation error for this style */

html {
    padding: env(safe-area-inset);
}

/* Body Reset */

body {
    font-family: 'Lato', sans-serif; 
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
}

/* ========== NAV ========== */
.navbar-brand img{
    height: 2em
}
.navbar-dark {
    padding: .6rem 1 rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.navbar-nav li {
    padding-right: .8rem
}

.navbar-nav .navlink {
    padding-top: 8rem;
    color:whitesmoke!important;
}

.breh {
    color: red;
}
/* ===== NEED HELP WITH THIS ==== */
/*.navbar-nav .navlink:hover,
.navbar-nav .navlink:active {
    color: purple!important;
} */

/* ======= BACKGROUND IMAGE ======= */

.back-image {
    background-image: url('../Pictures/lost-places-1928727_1920.jpg');
    position: fixed;
    background-size: auto;
    
}





/* ========= ABOUT ========= */
.teams {
    color: whitesmoke;
}



/* ======= PORTFOLIO ======= */




/* ======== CONTACT ======== */

.info {
    color: black;
}

/* ====== FOOTER ======*/

.attribution {
    text-align: center;
}

/* ====== MEDIA QUERIES ===== */

@media (max-width: 768px) {
    
}




