
body,
td {
    font-family: 'Roboto', sans-serif;
    color: grey!important;
    opacity: .9;
    background-color: black;

}

/* ========== NAV ========== */

.logo {
    height: 40px;
    padding-right: 10px;
}

.navbar-dark {
    padding: .6rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.navbar-nav .navlink {
    padding-top: 8rem;
}

h1,
h2,
h3,
.teams,
.text {
    color: whitesmoke;
    font-family: 'Francois One', sans-serif;
}

/* ======== CONTACT ======== */

.slide-pic {
    height: 400px;
    width: 600px;
}

.horror-anime {
    height: 300px;
    width: 300px;
}
.music-coding {
    height: 200px;
    width: 600px;
}

/* ======= PORTFOLIO ======= */
/* 
.portfolio-img {
    background-image: url('../Pictures/Portfolio_images/skull-2580981_1920.jpg');
    background-size: cover;
} */

.thumbnails {
    height: 300px;
    width: 300px
}
/* ====== FOOTER ======*/

.breh {
    color: whitesmoke;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

footer {
    text-align: center;
    color: grey;
    position: relative;
}


/* == MEDIA QUERIES == */
@media all and (max-width: 768px) {
    .logo {
        height: 40px;
        padding-right: 2px;
    }
    .thumbnails {
        height: auto;
        width: auto;
    }
}